
.wrapper{
  width: 960px;
  margin: 0 auto;
}
.block_slide {
  margin-top: 434px;
  margin-left: auto;
  margin-right: auto;
  width: 841px;
}
.block_slide .img_slide {
  width: 350.3px;
  height: 346.3px;
  border-radius: 50%;
}
.text_slide{
   margin-top: 120px;
}
.block_slide .title_slide {
  width: 303px;
 height: 24px;
 font-family: Verdana;
 font-size: 24px;
 font-weight: normal;
 font-style: normal;
 font-stretch: normal;
 line-height: 1.04;
 letter-spacing: normal;
 text-align: left;
 color: #47b616;
}
.block_slide p{
  width: 334px;
  height: 49px;
  font-family: ArialMT;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}
.block_slide a {
  text-decoration: underline;
}
.carousel-control {
  background-image: none !important;
}
.glyphicon-chevron-right {
  width: 90px;
  height: 90px;
  background-color: #f0f0f0;
  box-shadow: inset 0px 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.glyphicon-chevron-left {
  width: 90px;
  height: 90px;
  background-color: #f0f0f0;
  box-shadow: inset 0px 1px 1px 0 rgba(0, 0, 0, 0.5);
}
/**/
.carousel-indicators {
  width: 100%;
  left: 0;
  margin-left: 0;
  top: 150px;
  bottom: inherit;
}
.carousel-indicators li{
  width: 40px;
 height: 40px;
 border-radius: 50%;
 background-color: #f0f0f0;
 box-shadow: inset 0px 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.carousel-indicators li.active{
  width: 40px;
 height: 40px;
 border-radius: 50%;
 background-color: #f0f0f0;
 box-shadow: inset 0px 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.line_indicators {
  position: absolute;
  top: 160px;
  width: 100%;
  height: 14px;
  background-color: #f0f0f0;
  box-shadow: inset 0px 1px 1px 0 rgba(0, 0, 0, 0.5);
}
